body {
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
    
  }

.header {
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;
    height: 400px;
}

.header-text h1{
    font-weight: bolder;
    font-size: 48px;
    margin-top: 50px;
        
}

.header-text, .links{
    font-size: 18px;
    
}

.header-image {
    margin-top: 100px;
}

.links{
     list-style-type: none;
}

.links a{
    text-decoration: none;
    color: #f9faf8;
}

.left, .right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left {
    margin-left: 200px;
}
.right {
    margin-right: 200px;
}
ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.logo {
    margin-bottom: 15px;
}

button {
    padding: 8px 16px;
    border-radius: 10%;
    font-weight: bold;
    color: #fff;
    background-color: rgb(0, 110, 255);
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.image-item img {
    max-width: 100px;
    height: auto;
}

.image-item p {
    margin: 5px 0 0;
    text-align: center;
}

.mid-section h1{
    font-size: 48px;
    margin-left: 650px;
}

.quote{
    margin-top: 100px;
    background: #E5E7EB;
}

.quote-sec {
    margin: 100px 600px;
    height: 400px;
  
}

.quote-sec p{
    padding-top: 150px;
    text-align: left;
    font-style: italic;
    font-size: 28px;
    color: #1f2937;
    font-weight: 100;
    
}

.thor {
    margin-left: 400px;
    font-weight: bold;
}